.setembroClass {
    background-color: yellow;
    color: black;
}

.outubroClass {
    background-color: rgb(255, 113, 137);
    color: black;
}

.novembroClass {
    background-color: blue;
    color: black;
}